<mat-card>
  <ng-container>
    @if (candidate$ | async; as candidate) {
      <div class="img-container">
        <img [src]="candidate.imageUrl" [alt]="candidate.firstName + ' ' + candidate.lastName">
      </div>
      <div class="employee-info">
        <h1>{{ candidate.firstName }} {{ candidate.lastName }}</h1>
        <h2>{{ candidate.job }}, {{ candidate.department }} chez {{ candidate.company }}</h2>
        <h3>Contact : {{ candidate.email }}</h3>
      </div>
    }
  </ng-container>
  <mat-card-actions>
    <ng-container>
      <div class="container">
        @if (loading$ | async) {
          <mat-spinner></mat-spinner>
        } @else {
          <div class="action-buttons">
            <button mat-flat-button color="accent" (click)="onHire()">EMBAUCHER</button>
            <button mat-flat-button color="warn" (click)="onRefuse()">REFUSER</button>
          </div>
          <button mat-flat-button color="primary" (click)="onGoBack()">RETOUR</button>
        }
      </div>
    </ng-container>
  </mat-card-actions>
</mat-card>
